<div class="facebookButton">
    <div class="pluginButton">
        <div class="pluginButtonContainer">
            <div class="pluginButtonImage">
                <button type="button">
                    <i class="pluginButtonIcon img sp_plugin-button-2x sx_plugin-button-2x_favblue"></i>
                    </button>
            </div>
            <span class="pluginButtonLabel">{{ shareButtonText }}</span>
        </div>
    </div>
</div>
<div class="facebookCount">
    <div class="pluginCountButton pluginCountNum">
        <span ng-transclude></span>
        </div>
    <div class="pluginCountButtonNub"><s></s><i></i></div>
</div>