<div class="linkedinButton">
    <div class="pluginButton">
        <div class="pluginButtonContainer">
            <div class="pluginButtonImage">in
                </div>
            <span class="pluginButtonLabel"><span>{{ shareButtonText }}</span></span>
        </div>
    </div>
</div>
<div class="linkedinCount">
    <div class="pluginCountButton">
        <div class="pluginCountButtonRight">
            <div class="pluginCountButtonLeft">
                <span ng-transclude></span>
            </div>
        </div>
    </div>
</div>